
$base-font: "Metropolis", Helvetica, Arial, sans-serif;
$heading-font: "Arno Pro", "Georgia-fallback", Georgia, "Times New Roman",
  sans-serif;

$fs-6xl: (
  null: (
    55px,
    60px,
    1rem,
  ),
  l: (
    80px,
    88px,
    1rem,
  ),
);

$fs-5xl: (
  null: (
    43px,
    50px,
    0.9rem,
  ),
  l: (
    67px,
    67px,
    1rem,
  ),
);

$fs-4xl: (
  null: (
    36px,
    39px,
    0.8rem,
  ),
  l: (
    46px,
    44px,
    0.8rem,
  ),
);

$fs-3xl: (
  null: (
    24px,
    27px,
    0.6rem,
  ),
  l: (
    32px,
    32px,
    0.7rem,
  ),
);

$fs-2xl: (
  null: (
    18px,
    30px,
    0.5rem,
  ),
  l: (
    22px,
    32px,
    0.6rem,
  ),
);

$fs-xl: (
  null: (
    18px,
    30px,
    0.5rem,
  ),
  l: (
    20px,
    32px,
    0.6rem,
  ),
);

$fs-lg: (
  null: (
    16px,
    24px,
    0.5rem,
  ),
  l: (
    18px,
    28px,
    0.5rem,
  ),
);

$fs-base: (
  null: (
    17px,
    22px,
    1.4rem,
  ),
  l: (
    18px,
    33px,
    2rem,
  ),
);