.splitting .char {
  animation: slide-in 0.7s cubic-bezier(0.2, 0, 0.1, 1) both;
  animation-delay: calc(20ms * var(--char-index));
  will-change: transform, opacity;
  transform-origin: top left;
  opacity: 0;
}

// .splitting .char .delay-1000 {
//   animation-delay: calc(20ms * var(--char-index) + 1000) !important;
// }

.fade-in-up {
  animation: slide-in 0.7s cubic-bezier(0.2, 0, 0.1, 1) both;
  will-change: transform, opacity;
}

.delay-500 {
  animation-delay: 500ms;
}

.delay-1000 {
  animation-delay: 1000ms;
}

.delay-1250 {
  animation-delay: 1250ms;
}

// delay for grid items

.delay-l-200 {
  @include from(l) {
    animation-delay: 200ms;
  }
}

.delay-l-400 {
  @include from(l) {
    animation-delay: 400ms;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(40px) scaleY(1.2);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
