.content {
  a {
    color: get-color("base-text");
    text-decoration: none;
  }

  b,
  strong {
    font-weight: 700;
  }

  em,
  i {
    font-style: italic;
  }

  ul,
  ol {
    margin: 0 1.5rem 1.5rem 1.5rem;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  ol ol {
    list-style: upper-alpha;
  }
  ol ol ol {
    list-style: lower-roman;
  }
  ol ol ol ol {
    list-style: lower-alpha;
  }

  img {
    margin: 0 0 1.5em;
  }

  .alignleft,
  img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }

  .alignright,
  img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }

  .aligncenter,
  img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }

  .wp-caption {
    margin-bottom: 1.5rem;
    text-align: center;
    padding-top: 0.5rem;

    img {
      border: 0 none;
      padding: 0;
      margin: 0;
    }

    p.wp-caption-text {
      line-height: 1.5;
      font-size: 0.8rem;
      margin: 0;
    }
  }

  .wp-smiley {
    margin: 0 !important;
    max-height: 1em;
  }

  blockquote {
    &.left {
      margin-right: 1.5rem;
      text-align: right;
      margin-left: 0;
      width: 33%;
      float: left;
    }

    &.right {
      margin-left: 1.5rem;
      text-align: left;
      margin-right: 0;
      width: 33%;
      float: right;
    }
  }
}
