@font-face {
  font-family: "icomoon-thm";
  src: url("~@/fonts/icomoon-thm.eot?amnia3");
  src: url("~@/fonts/icomoon-thm.eot?amnia3#iefix") format("embedded-opentype"),
    url("~@/fonts/icomoon-thm.ttf?amnia3") format("truetype"),
    url("~@/fonts/icomoon-thm.woff?amnia3") format("woff"),
    url("~@/fonts/icomoon-thm.svg?amnia3#icomoon-thm") format("svg");

  // src: url("..\\..\\fonts\\icomoon-thm.eot?amnia3");
  // src: url("..\\..\\fonts\\icomoon-thm.eot?amnia3#iefix")
  //     format("embedded-opentype"),
  //   url("..\\..\\fonts\\icomoon-thm.ttf?amnia3") format("truetype"),
  //   url("..\\..\\fonts\\icomoon-thm.woff?amnia3") format("woff"),
  //   url("..\\..\\fonts\\icomoon-thm.svg?amnia3#icomoon-thm") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon-thm" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pin:before {
  content: "\e918";
}
.icon-youtube:before {
  content: "\e926";
}
.icon-quotes-left:before {
  content: "\e921";
}
.icon-linkedin:before {
  content: "\e90d";
}
.icon-twitter:before {
  content: "\e90e";
}
.icon-whatsapp:before {
  content: "\e90f";
}
.icon-instagram:before {
  content: "\e910";
}
.icon-facebook:before {
  content: "\e911";
}
.icon-facebook2:before {
  content: "\e912";
}
.icon-share:before {
  content: "\e913";
}
.icon-check:before {
  content: "\e91d";
}
.icon-close:before {
  content: "\e91a";
}
.icon-arrow-right:before {
  content: "\e914";
}
.icon-arrow-left:before {
  content: "\e915";
}
.icon-arrow-down:before {
  content: "\e916";
}
.icon-arrow-up:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e900";
}
.icon-chevrons-up:before {
  content: "\e901";
}
.icon-chevrons-right:before {
  content: "\e902";
}
.icon-chevrons-left:before {
  content: "\e903";
}
.icon-chevrons-down:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-chevron-left:before {
  content: "\e906";
}
.icon-chevron-down:before {
  content: "\e907";
}
.icon-chevron-up:before {
  content: "\e908";
}
