// typography
@font-face {
  font-family: "Georgia-fallback";
  src: local("Georgia");
  font-weight: 100;
  size-adjust: 75.25%; //78.25
  descent-override: 125%;
  ascent-override: 125%;
}

@font-face {
  font-family: "Arno Pro";
  src: url("~@/fonts/ArnoPro-LightDisplay.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Metropolis";
  src: url("~@/fonts/Metropolis-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Metropolis";
  src: url("~@/fonts/Metropolis-Medium.woff2") format("woff2");
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: get-color("headings");
  font-weight: 500;
  font-family: $heading-font;
}

h1 {
  @include font-size($fs-6xl);
  padding-bottom: 5px;
  font-weight: 500;
}

h2 {
  @include font-size($fs-4xl);
}

h3 {
  @include font-size($fs-2xl);
}

h4 {
  @include font-size($fs-xl);
}

h5 {
  @include font-size($fs-lg);
}

h6 {
  @include font-size($fs-base);
}

p {
  @include font-size($fs-base);
  color: rgba(#fff, 0.66);
  // opacity: 0.66;
}

.fs-6xl {
  @include font-size($fs-6xl);
}
.fs-5xl {
  @include font-size($fs-5xl);
}
.fs-4xl {
  @include font-size($fs-4xl);
}
.fs-3xl {
  @include font-size($fs-3xl);
}
.fs-2xl {
  @include font-size($fs-2xl);
}
.fs-xl {
  @include font-size($fs-xl);
}
.fs-lg {
  @include font-size($fs-lg);
}
.fs-base {
  @include font-size($fs-base);
}

.f-base {
  font-family: $base-font;
}

.f-no-margin {
  margin-bottom: 0;
}

// test

.underline {
  border-bottom: 1px solid get-color(primary);
  padding-bottom: 5px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    width: 0%;
    height: 1px;
    z-index: 3;
    border-bottom: 1px solid #fff;
    transition: width 0.3s ease-in;
    // background-color: red;
  }

  &:hover::before {
    width: 100%;
  }
}
