// checkbox styling

/* extend this class within the before psuedo element and hide the default checkbox */
.custom-checkbox {
  visibility: visible;
  position: absolute;
  content: "";
  font-family: icomoon;
  font-size: 1rem;
  line-height: 20px;
  top: 0;
  width: 24px;
  height: 24px;
  background: #fff;
  border: 2px solid get-color(primary);
  color: get-color(primary);
  border-radius: 5px;
  padding-left: 3px;
}

/* styles for demo */
.demo-checkbox {
  label {
    line-height: 24px;
  }
  input {
    visibility: hidden;
    position: relative;
    -moz-appearance: initial;
    width: 24px; // width and height are needed for alignment cross-browser!
    height: 24px;
    vertical-align: middle;

    &:before {
      @extend .custom-checkbox;
      left: -3px;
    }

    &:checked:before {
      content: "\e91d"; // checkmark icon
    }
  }
}

/* custom styles for Formidable checkbox */
.frm_checkbox {
  label {
    line-height: 24px;
  }
  input {
    visibility: hidden;
    position: relative;
    -moz-appearance: initial;
    width: 24px; // width and height are needed for alignment cross-browser!
    height: 24px;
    vertical-align: middle;

    &:before {
      @extend .custom-checkbox;
      left: -3px;
    }

    &:checked:before {
      content: "\e91d"; // checkmark icon
    }
  }
}

/* custom styles for SearchAndFilter checkbox */

label.sf-label-checkbox {
  position: relative;

  &:before {
    @extend .custom-checkbox;
    left: -20px;
  }
}

input:checked + label::before {
  content: "\e91d"; // checkmark icon
}
