.menu {
  @include font-size($fs-base);
  &__list {
    line-height: 1.25;
    a {
      display: block;
      padding: 0.5em 0.75em;
      border-radius: 4px;
      color: get-color("base-text");
      &:hover {
        background-color: get-color("light");
      }
      &.is-active {
        background-color: get-color("dark");
        color: #fff;
      }
    }
    li {
      ul {
        border-left: 1px solid get-color("line");
        margin: 0.75em;
        padding-left: 0.75em;
      }
    }
  }
  &__label {
    color: get-color(headings);
    font-size: 0.75em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    &:not(:first-child) {
      margin-top: 1em;
    }
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}
