$nav-links-spacing:(
  null:'1rem',
  's':'4rem'
) !default;


.nav-links{

  display: flex;
  justify-content: center;

  @include add-spacing(true,false,true,false,'margin',$nav-links-spacing);

  a,span{
    padding: 0 1rem;
  }

  .current{
    font-weight: 500;
  }

  a{
    color: get-color('base-text');
  }

}
