.tabs {
  display: block;

  &__header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden;

    ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__content {
    display: none;

    &.js-active {
      display: block;
    }
  }

  &__title {
    display: block;

    &.js-active a {
      border-bottom-color: get-color(primary);
      color: get-color(primary);
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5em 1em;
      border-bottom: 3px solid get-color(light);
      color: get-color(base-text);
    }
  }
  // &__content {
  // }
}
