
$breakpoints-count: length($breakpoints);
@for $i from 1 through $breakpoints-count {
  $bp: nth(map-keys($breakpoints), $i);
  $next-bp: if($i < $breakpoints-count, nth(map-keys($breakpoints), $i + 1), null);
  .hide-#{$bp} {
    @if $i==1 {
      @include media('<#{$next-bp}') {
        display: none !important;
      }
    }
    @else if $i==$breakpoints-count {
      @include media('>=#{$bp}') {
        display: none !important;
      }
    }
    @else {
      @include media('>=#{$bp}', '<#{$next-bp}') {
        display: none !important;
      }
    }
  }
  @each $display-mode in $display-modes {
    .show-#{$bp}-#{$display-mode} {
      display: none;
      @if $i==1 {
        @include media('<#{$next-bp}') {
          display: $display-mode;
        }
      }
      @else if $i==$breakpoints-count {
        @include media('>=#{$bp}') {
          display: $display-mode;
        }
      }
      @else {
        @include media('>=#{$bp}', '<#{$next-bp}') {
          display: $display-mode;
        }
      }
    }
  }
}
