
@mixin remove-spacing-helpers($breakpoints:$breakpoints){
  @each $name, $value in $breakpoints {

    .no-padding-#{$name}{
      @include from($name){
        padding: 0 !important;
      }
    }

    .no-padding-top-#{$name}{
      @include from($name){
        padding-top: 0 !important;
      }
    }

    .no-padding-right-#{$name}{
      @include from($name){
        padding-right: 0 !important;
      }
    }

    .no-padding-bottom-#{$name}{
      @include from($name){
        padding-bottom: 0 !important;
      }
    }

    .no-padding-left-#{$name}{
      @include from($name){
        padding-left: 0 !important;
      }
    }

    .no-margin-#{$name}{
      @include from($name){
        margin: 0 !important;
      }
    }

    .no-margin-top-#{$name}{
      @include from($name){
        margin-top: 0 !important;
      }
    }

    .no-margin-right-#{$name}{
      @include from($name){
        margin-right: 0 !important;
      }
    }

    .no-margin-bottom-#{$name}{
      @include from($name){
        margin-bottom: 0 !important;
      }
    }

    .no-margin-left-#{$name}{
      @include from($name){
        margin-left: 0 !important;
      }
    }

  }
}

@include remove-spacing-helpers();
