
$spacer-small:2rem !default;
$spacer-medum:4rem !default;
$spacer-large:6rem !default;

$spacings:(
  null:$spacer-small,
  'xs':$spacer-small,
  'm': $spacer-medum,
  'l': $spacer-large,
) !default;

// create spacing

@mixin spacing($spacing:null,$type:'padding',$top:true,$right:true,$bottom:true,$left:true) {
  @if ($spacing == null) {
    @warn"No spacing value passed as parameter";
  }
  @else  {

    #{$type}:$spacing;

    @if($top == false){
      #{$type}-top: 0;
    }

    @if($right == false){
      #{$type}-right: 0;
    }

    @if($bottom == false){
      #{$type}-bottom: 0;
    }

    @if($left == false){
      #{$type}-left: 0;
    }

  }
}

// create spacing

@mixin add-spacing($top:true,$right:true,$bottom:true,$left:true,$type:'padding',$spacings:$spacings,$breakpoints:$breakpoints){
  @each $name, $value in $spacings {

    $map-existance: map-has-key($breakpoints,#{$name});

    @if ($map-existance) {
      @include from(#{$name}){
        @include spacing(#{$value},$type,$top,$right,$bottom,$left);
      }
    } @else if ($name == null){
      @include spacing(#{$value},$type,$top,$right,$bottom,$left);
    }

  }
}


@mixin remove-spacing-helpers($breakpoints:$breakpoints){
  @each $name, $value in $breakpoints {

    .no-padding-#{$name}{
      @include from($name){
        padding: 0 !important;
      }
    }

    .no-padding-top-#{$name}{
      @include from($name){
        padding-top: 0 !important;
      }
    }

    .no-padding-right-#{$name}{
      @include from($name){
        padding-right: 0 !important;
      }
    }

    .no-padding-bottom-#{$name}{
      @include from($name){
        padding-bottom: 0 !important;
      }
    }

    .no-padding-left-#{$name}{
      @include from($name){
        padding-left: 0 !important;
      }
    }

    .no-margin-#{$name}{
      @include from($name){
        margin: 0 !important;
      }
    }

    .no-margin-top-#{$name}{
      @include from($name){
        margin-top: 0 !important;
      }
    }

    .no-margin-right-#{$name}{
      @include from($name){
        margin-right: 0 !important;
      }
    }

    .no-margin-bottom-#{$name}{
      @include from($name){
        margin-bottom: 0 !important;
      }
    }

    .no-margin-left-#{$name}{
      @include from($name){
        margin-left: 0 !important;
      }
    }

  }
}

@include remove-spacing-helpers();
