.footer {
  background: get-color("primary");
  color: #fff;
  padding: 2rem 0;

  a {
    color: #fff;
  }
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
}

.sep {
  margin: 0 15px;
}
