.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8841911764705882) 0%,
    rgba(0, 0, 0, 0.09987745098039214) 100%
  );
  z-index: 300;

  &--fixed {
    position: sticky;
    top: 0;
  }

  &__logo {
    display: inline-block;
    max-width: 170px;
    box-sizing: border-box;
    @include from(m) {
      max-width: 175px;
    }

    img,
    svg {
      width: 100%;
      display: block;
    }
  }
}
