/*---------------------------------------- form/checkbox - stylesheet ----------------------------------------*/

.checkbox {
  margin-bottom: ($base-unit * 0.5);
  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + span:after {
    display: block;
  }

  input[type="checkbox"]:not(:checked) + span:after {
    display: none;
  }

  label {
    display: block;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
      cursor: hand;
    }
  }

  span {
    border: 1px solid get-color("line");
    background-color: #fff;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    margin-right: 10px;

    &:after {
      content: "";
      width: 9px;
      height: 9px;
      display: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: get-color("accent");
    }
  }
}
