@mixin set-aspect-ratio-helpers(
  $class-prefix: $ratio-helpers-prefix,
  $aspect-ratios: $aspect-ratios
) {
  @each $name, $value in $aspect-ratios {
    $ratio: $value;
    $width: map-get($ratio, width);
    $height: map-get($ratio, height);

    #{$class-prefix}#{$name} {
      @include maintain-ratio($width $height);
    }
  }
}

@include set-aspect-ratio-helpers($ratio-helpers-prefix, $aspect-ratios);
