@mixin grid($breakpoints: null, $cols: 12, $gutter: 30px) {
  @if ($breakpoints==null) {
    @warn "No breakpoints are passed as parameter";
  } @else {
    // basis grid wrapper
    .grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      width: 100%;
      row-gap: $gutter;
      column-gap: $gutter;
      margin-bottom: $gutter;

      &.no-bottom-margin-cols {
        row-gap: 0;
      }

      &.collapse {
        column-gap: 0;
      }
    }

    // helper classes for aligning and distributing flexbox childs
    @each $name, $value in $breakpoints {
      @include from(#{$name}) {
        .align-#{$name}-start {
          justify-content: flex-start;
          text-align: left;
        }

        .align-#{$name}-center {
          justify-content: center;
          text-align: center;
        }

        .align-#{$name}-end {
          justify-content: flex-end;
          text-align: right;
        }

        .align-#{$name}-top {
          align-items: flex-start;
        }

        .align-#{$name}-middle {
          align-items: center;
        }

        .align-#{$name}-bottom {
          align-items: flex-end;
        }
      }
    }

    // set up cols, offset and order helpers for different helper media breakpoints

    @each $name, $value in $breakpoints {
      @include from(#{$name}) {
        @for $i from 1 through $cols {
          .col-#{$name}-#{$i} {
            grid-column: span #{$i};
          }
        }

        .offset-#{$name}-0 {
          display: none;
        }

        @for $i from 1 through $cols {
          .offset-#{$name}-#{$i} {
            grid-column: span #{$i};
          }

          .order-#{$name}-#{$i} {
            order: #{$i};
          }
        }
      }
    }
  }
}

@include grid($breakpoints, $grid-columns, $grid-gutter);
